@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2><br />


<h5>Warehouse</h5>
<address>
    12 Salem Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<br />
<h5>Email</h5>
<address>
    <strong>Order Tracking:</strong> <a href="mailto:Marketing@example.com">Orders@DeliverNow.com</a><br />
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@DeliverNow.com</a>
</address>

<br/>
<address>
<h5>Call</h5>
    <strong>Office:</strong> +27259274635<br/>
    <strong>Fax:</strong> +27256543284
</address>