@{
    ViewBag.Title = "Home Page";
}<br />

<div class="jumbotron">
    <h1>DeliverNow</h1>
    <p class="lead">DeliverNow is internal ordering system. You can go directly through retailers to get a reduced rate on hundreds of brand items and have products delivered directly to your door or at work!</p>
    <br/>
    <p><a class="btn btn-primary btn-lg" @Html.ActionLink("Start browsing", "Catalog", "Home")</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Catalog</h2>
        <p>
            Browse products from big brands at a reduced rate.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Browse products", "Catalog", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Orders</h2>
        <p>View your past and current orders.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Orders", "Orders", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>For any queries or concerns, or to follow up on your order, contact our support directly.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Contact", "Contact", "Home")</a></p>
        

    </div>
</div>